@import "../../App.scss";

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $secondary;
  border-bottom: 1px solid $secondary-light;
  position: sticky;
  z-index: 100;
  top: 0;
  // use this just on small screens
  // -ms-overflow-style: none; // IE, Edge
  // scrollbar-width: none; // Firefox
  // overflow-y: hidden;
  // overflow-x: scroll;
   // hide scroll bar on Chrome, Safari, and Opera
   &::-webkit-scrollbar {
    display: none;
  }
}
